@charset "utf-8"; 

body {
    font-family: 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif!important;
    font-size: 14px;
}

.mainlogo {
    text-align: center;
}

.logo {
    margin: 0;
    padding: 0;
}

.hide_h {
    display: none;
}

.navfont {
    font-family: 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif!important;
    font-size: 14px;
}

.subnav {
    height: 50px;
    line-height: 50px;
}

.gap {
    height: 40px;
}

.calendar {
    table-layout: fixed;
}

.calhr {
    display: none;
}

.today {
    padding: 0 5px;
    background: #00b4ff;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    text-transform: none;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 2px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    display: none;
}

.calendar td a:link {
    color: dimgray;
}

@media (max-width: 767px) {
.calendar tbody {
    display: none;
}
.calhr {
    display: inline;
}
.gap {
    display: none;
}
i.uk-text-muted {
    display: none;
}
}

@media (max-width: 460px) {
td.uk-width-1-6 span.uk-text-muted {
    display: none;
}
.cutweek {
    display: none;
}
.cutday {
    display: none;
}
.divide {
    display: none;
}
}

.divide {
    color: #c4c4c4;
}

.calendar-height {
    height: 60px;
}

th a {
    color: dimgray;
}

th a:hover {
    color: dodgerblue;
}

tr a {
    color: dimgray;
}

tr a:hover{
    text-decoration: none;
}

.height {
    height: 30px;
}

footer a {
    color: dimgray;
}

h2 {
    font-family: 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif!important;
    color: dimgray;
}

.uk-width-2-6 {
    line-height: 32px;
}

.badge {
    display: inline-block;
    padding: 0 5px;
    background: #9a9a9a;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    text-transform: none;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 2px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.badge-iqiyi {
    background: #87c21a;
}

.badge-bili {
    background: #00baff;
}

.badge-letv {
    background: #ff6363;
}

.badge-matong {
    background: #f6c501;
}

.badge-pptv {
    background: #00a2ff;
}

.badge-tx {
    background: #09db80;
}

.badge-tudou {
    background: #ff8a00;
}

.badge-youku {
    background: #10d4e6;
}

.bgminfo {
    font-size: 14px;
    line-height: 18px;
}

.bgminfo p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(0, 180, 255, 0.8) url(../pics/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.cd-top.cd-is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {
    opacity: .5;
}

.no-touch .cd-top:hover {
    background-color: #00b4ff;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
.cd-top {
    right: 20px;
    bottom: 20px;
}
}

@media only screen and (min-width: 1024px) {
.cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
}
}