@charset "utf-8"; 

body {
    font-family: Microsoft YaHei;
    font-size: 12px;
}

.mainlogo {
    height: 250px;
    line-height: 250px;
    text-align: center;
}

.hide_h {
    visibility: hidden;
}

.subnav {
    height: 50px;
    line-height: 50px;
}

.calendar {
    table-layout: fixed;
}

.calendar-height {
    height: 60px;
}

.height {
    height: 30px;
}

.foot1 {
    float: left;
}

.foot2 {
    float: left;
    height: 80px;
    line-height: 80px;
}

footer a {
    color: dimgray;
}

h2 {
    font-family: Microsoft YaHei;
}