@charset "utf-8"; 

.logo {
    height: 250px;
    background-image: url(../pics/logo.png);
    background-repeat: no-repeat;
    background-position: center;
}

.hide_h {
    visibility: hidden;
}

.subnav {
    height: 50px;
    line-height: 50px;
}